---
const{ isRed = false } = Astro.props
---
<div class="bg-blue-500 text-white inline-flex px-2 rounded hover:cursor-pointer hover:bg-blue-600 transition-colors items-center space-x-1"
    class:list={{"bg-red-500 hover:bg-red-600": isRed}}
>
    
    <slot name="start-icon"/>
    
    <slot name="text">
        Aceptar
    </slot>
    
    <slot name="end-icon"/>

</div>